.name-product {
  width: auto;
  height: 40px;
  padding-top: 10px;
  font-size: 20px;
  list-style-type: none;
}

.block-product-basket {
  text-align: center;
  list-style-type: none;
  margin: 10px;
  width: 400px;
  height: auto;
  background-color: silver;
  border-radius: 15px;
  
}

.price-product {
  font-size: 20px;
  background-color: rgb(241, 90, 90);
}

.list-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basket-empty {
  color: #ff0000;
}